@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');




.carousel .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
 
          /** TEXT GRADIENT */ 
          color: #faeef2; background-image: -webkit-linear-gradient(0deg, #ffffff 56%, #d77972 18%, #e3ccca 64%); background-clip: text; -webkit-background-clip: text; text-fill-color: transparent; -webkit-text-fill-color: transparent;
          text-shadow: #e00202e0 2px 4px;
        
  font-family: 'Montserrat', sans-serif;
  font-size:80px;
  text-transform: uppercase;
  text-align:center;
  line-height: 1.1;
}
.control-arrow .control-next,.carousel.carousel-slider .control-arrow:hover {
 background-color: transparent;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
  

}
.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000;
}

@media (max-width: 768px) {
  .carousel .text-overlay{
    font-size:30px;
  }
}
